{% extends 'products/base.html' %}


{% block TitlePage  %}

<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/static/images/bg-01.jpg');">
		<h2 class="ltext-105 cl10 txt-center">
			О нас
		</h2>
	</section>

{% endblock %}

{% block ContentPage  %}

<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Название и описание проекта
						</h3>

						<div class="stext-113 cl10 p-b-26">
							<b>«StudMarket»</b> - интернет-сервис для размещения объявлений о товарах, их последующей покупки или продажи. Товары, предлагаемые пользователями к продаже на сайте , могут быть новыми и бывшими в использовании. За основу взят сервис «Авито», но с урезанным функционалом и с направленностью на аудиторию студентов, проживающих в общежитии разных университетов. Данный проект позволит закрыть потребность большинства студентов в поиске повседневных вещей, бытовой техники и электроники. В настоящее время таких платформ много, но не все могут похвастаться большим количеством информации, также их достаточно трудно найти, так как они представляют из себя сообщества во Вконтакте или профили в Инстаграмме и прочих социальных сетях, что является, на наш взгляд, неудобным вариантом для взаимодействия между клиентами.
						</div>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/static/images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Наша команда
						</h3>


							<ul class="team stext-113 cl10">
								<li>
									Тимлид, тестировщик, копирайтер – <b>Чиганов А.</b>
								</li>
								<li>
									Верстальщик, разработчик – <b>Пульков А.</b>
								</li>
								<li>
									Дизайнер, аналитик, архитектор – <b>Скриплюк В.</b>
								</li>
							</ul>


					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/static/images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}