<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{{ title|title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="/static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->

    {% block JSProduct %} {% endblock %}
        <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->


<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
</head>


<body class="animsition">
	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
					</div>

					<div class="right-top-bar flex-w h-full">
                        {% if user.is_authenticated %}
						<a href="{% url 'users:account' %} " class="flex-c-m trans-04 p-lr-25">
							{{ user.username }}
						</a>

                        <a href="{% url 'users:logout' %}" class="flex-c-m trans-04 p-lr-25">
							Выйти
						</a>

                        {% else %}

						<a href="{% url 'users:login' %}" class="flex-c-m trans-04 p-lr-25">
							Войти
						</a>
                        {% endif %}

					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="{% url 'index' %}" class="logo">
						<img src="/static/images/icons/logo-01.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
                    <div class="menu-desktop">
						<ul class="main-menu">

                            <li>
							<a href="{% url 'products:index' %}">Каталог товаров</a>
							</li>
{#                            {% for cat in categories %}#}
{#							<li>#}
{#								<a href="{% url 'products:index' %}">{{ cat.name }}</a>#}
{#							</li>#}
{#                            {% endfor %}#}
							<li>
								<a href="{% url 'about' %}">О нас</a>
							</li>

							<li>
								<a href="{% url 'contact' %}">Наши фотографии</a>
							</li>
						</ul>
                    </div>
					{% block IconHeader  %} {% endblock %}
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="{% url 'index' %}"><img src="/static/images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">

						<a href="{% url 'users:account' %}" class="flex-c-m p-lr-10 trans-04">
							Аккаунт
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Ру
						</a>
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">

				<li>
					<a href="{% url 'about' %}">Учёба</a>
				</li>

				<li>
					<a href="{% url 'products:index' %}">Техника</a>
				</li>

				<li>
					<a href="{% url 'products:index' %}">Мебель</a>
				</li>

				<li>
					<a href="{% url 'products:index' %}">Одежда</a>
				</li>

				<li>
					<a href="{% url 'contact' %}">О нас</a>
				</li>

				<li>
					<a href="{% url 'contact' %}">Написать нам</a>
				</li>
			</ul>
		</div>

        {% block ModalSearch %} {% endblock %}

	</header>

    {% block Cart  %} {% endblock %}

    {% block TitlePage  %} {% endblock %}

    {% block ContentPage  %} {% endblock %}

    {% block Product  %} {% endblock %}

    {% block Slider  %} {% endblock %}

    {% block Banner  %} {% endblock %}

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						КАТЕГОРИИ
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="{% url 'products:index' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Учёба
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'products:index' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Мебель
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'products:index' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Техника
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'about' %}" class="stext-107 cl7 hov-cl1 trans-04">
								О нас
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						СОЗДАНО
					</h4>

					<p class="stext-107 cl7 size-201">
						Проект разработан студентами РГУ нефти и газа имени Губкина, факультета АиВТ:
						<ul>
							<li>Пульков Артем</li>
							<li>Скриплюк Виктор</li>
							<li>Чиганов Алексей</li>
						</ul>
					</p>
				</div>
			</div>

			<div class="p-t-40">
				<p class="stext-107 cl12 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
&copy;Studmarket, Inc., 2022. Все права защищены.
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

    {% block Modal1  %} {% endblock %}

	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/slick/slick.min.js"></script>
	<script src="/static/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>

</body>
